@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
margin:0px;
padding:0px;
font-family: 'Dancing Script', cursive;
}

ul{
    display: flex;
    list-style-type: none;

}




header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px lightgrey;
    align-items: center;
    height:3rem;
    padding: 0 1rem;

}

a{
    text-decoration: none;
    padding-left: 1rem;

}